.movies-card {
    box-sizing: border-box;
    overflow: hidden;
    width: inherit;
}

.movies-card__item {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.movies-card__link {
    height: 201px;
}

.movies-card__poster {
    height: 100%;
    object-fit: cover;
    background-position: center;
    border-radius: 6px;
    width: 100%;
}

.movies-card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    box-sizing: border-box;
}

.movies-card__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.21;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    margin: 0px;
}

.movies-card__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    color: #A0A0A0;
    background-color: #F9F9F9;
    border-radius: 3px;
    min-width: 52px;
    min-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movies-card__button {
    position: absolute;
    width: 72px;
    height: 21px;
    background: #F9F9F9;
    border-radius: 30px;
    top: 14px;
    right: 14px;
    border: none;
    font-size: 10px;
    line-height: 9px;
    transition: all .3s ease;
}

.movies-card__button:hover {
    opacity: .8;
    cursor: pointer;
}

.movies-card__button_type_saved {
    content: '';
    background: #FF4062;
    width: 21px;
    background-image: url(../../images/icon-saved.svg);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0px;
    transition: all .3s ease;
}

.movies-card__button_type_delete {
    position: absolute;
    width: 21px;
    height: 21px;
    background: #F9F9F9;
    border-radius: 30px;
    top: 14px;
    right: 14px;
    border: none;
    font-size: 0px;
    background-image: url(../../images/delete-card.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .3s ease;
}

.movies-card__button_type_delete:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .movies-card__link {
        height: calc(190px + (((100vw - 768px) * 11) / 512));
    }

    .movies-card__description {
        padding: 0 calc(0px + (((100vw - 768px) * 14) / 512));
    }

}

@media screen and (max-width: 767.98px) {

    .movies-card__link {
        height: calc(168px + (((100vw - 320px) * 24) / 448));
    }

    .movies-card__description {
        padding: 0;
    }

    .movies-card__title {
        font-size: clamp(12px, calc(12px + (((100vw - 320px) * 1) / 448)), 13px);
    }

}